footer{
    width: 90%;
    background-color: #F2F2F2;
    margin: auto;
    border: 1px solid gold;
}
::placeholder{
}
input{
    background-color: #5173FF;
    width: 50%;
    display: inline-block;
}
.btn-footer{
    padding: 8px;
    border-radius: 10px;
    background-color: #FEC19E;
    color: #385EFC;;
}